provider "google" {
  project   = "project_id"
  region    = "gcp_region"
  credentials = "gcp_sa_json_file_path"
}

provider "aws" {
  region = "us-east-1"
  access_key = "your_access_key"
  secret_key = "your_secret_key"  
}

provider "awscc" {
  region = "us-east-1"
  access_key = "your_access_key"
  secret_key = "your_secret_key"  
}